@import 'resources/sass/variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    font-size: 2rem;
    font-weight: 500;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.container_main {
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    &.row {
        flex-direction: row;
    }
    gap: 10px;
}

.link {
    color: $blue;
    text-decoration: none;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.column {
    display: flex;
    flex-direction: column;
}

.medium-text {
    font-size: 1.2rem;
}

.input {
    padding: 1rem;
    font-size: 1rem;
}

.textarea {
    padding: 1rem;
    font-size: 1rem;
    height: 8rem;
    resize: none;
}

.bold {
    font-weight: 700;
}

.dark-text {
    color: $dark;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
}