.actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}
.action {
    height: 1.5rem;
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}