.todo {
    display: flex;
    justify-content: space-between;
}
.todo__title {
    font-weight: 700;
}
.todo__input {
    width: 70%;
    padding: .7rem;
    border: 1px solid black;
    outline: none;
}