.todo-lists {
    padding: .5rem;
    max-height: 80vh;
    overflow: auto;
    max-width: 1024px;
}
.todo-lists__header {
    display: flex;
    align-items: flex-start;
}
.todo-lists__title {
    margin-bottom: 1rem;
}
.todo-lists__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}