.todo-list {
    border: 1px solid gray;
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
}
.todo-list__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.todo-list__description {
    margin-bottom: 1rem;
}
.todo-list__title {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.todos{
    margin-top: 2rem;
}
.todos__header {
    margin-bottom: 1rem;
}