*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  font-size: 2rem;
  font-weight: 500;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.container_main {
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
  display: flex;
  gap: 10px;
}
